#splashscreen {
	display: block;
	width: 50%;
	height: 50%;
	margin: auto;
	font-family: Spectral;
	font-size: 2em;
	text-align: center;
}

#splashscreen img {
	display: block;
	width: 25%;
	height: 25%;
	margin: auto;
}